<div class="main" [style]="mainStyle">
  <h1 align="center"></h1>
  <div class="tempo">
    <div class="eins-wrapper">
      <div class="eins-group">
        <div class="eins one"></div>
        <span class="colinfo">Свободное место</span>
      </div>

      <div class="eins-group">
        <div class="eins three"></div>
        <span class="colinfo">Забронировано</span>
      </div>
      <div class="eins-group">
        <div class="eins four"></div>
        <span class="colinfo">Недоступно</span>
      </div>
    </div>
    <div class="movie">
	 <span>
      <h2><b>Отряд самоубийц: Миссия навылет </b> <br><br>25 августа, 21:25, Мир, 2 зал, в формате 2D </h2>
	 </span>
    </div>
    <div class="info-wrapper">
      <div class="suman">
        <p>Сумма: {{count}} рублей</p>
        <a href="https://github.com/KornevIlya/cinema-client" target="_blank" class="button5">Забронировать</a>
      </div>
    </div>


  </div>
  <div class="container" [style]="containerStyle">
    <div *ngFor="let place of places; let i = index" class="container-elem" [style]="placesStyle[i]">
      <div [class]="place.closet ? 'badge closed' : 'badge'" [class.bronned]="place.brone"
        (click)="place.closet || onBrone(place)" (mouseenter)="infos($event, place)"
        (mouseleave)="infosOff($event, place)" [ngStyle]="placesInnerStyle[i]">
        {{place.number}}

         <div class="gup" [style]="placesStyle[i].height" *ngIf="place.number == 1">
          <p> {{place.row}} </p>
        </div> 

      </div>

    </div>
  </div>
</div>
<div class="info" [style]="positionInfo">
  <div *ngIf="check1">
    <div *ngIf="bronnedPlace">
      <div><span>р. </span>{{bronnedPlace!.row}} <span>м. </span>{{bronnedPlace!.number}}</div>
      <div *ngIf="!bronnedPlace.closet">
        <div *ngIf="bronnedPlace!.price > 0">
          <div><span>цена: </span>{{bronnedPlace!.price}}</div>
        </div>
        <div *ngIf="bronnedPlace!.price < 0">
          <div><span>цена: </span>{{-1 * bronnedPlace!.price}}</div>
        </div>
      </div>
      <div *ngIf="bronnedPlace.closet">
        <div><span>Недоступно</span></div>
      </div>
    </div>
  </div>
</div>