.title {
}
.container {
    position: relative;
    margin: 0 auto;
}

.container-elem {
    position: absolute;
} 

.badge {
    cursor: pointer;
    font-family: Yu Gothic, serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    color: white;
    background-color:#9db9d1;
    height: 80%;
    //width: 80%;
    //height: 100%;
    //width: 100%;
    //margin: 15px;
    border-radius: 15px 15px 15px 15px;
}

.badge.closed{
    background-color:#000000;
    cursor: default;
}

.badge:hover{
    border: 3px solid #008CBA;
}

.badge.closed:hover{
    border:0px;
}

.bronned {
    background-color:#42aaff;
}

.info {
    position: fixed;
    bottom: 280px;
    right: 135px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.suman {
  font-family: Cambria Math, serif;
  font-weight: bold;
  font-size: large;
  position: fixed;
  right: 80px;
  bottom: 440px;
  text-align: center;
}



.fonted {
    font-family: Cambria Math, serif;
	font-size: large;
	font-weight: bold;
}
  
.gup {
    position: absolute;
    font-family: Yu Gothic, serif;
    font-weight: bold;
    left: -40px;
    color: black;
  //width: 1rem;
  //margin-left: -1.3em;
  //margin-top: -2.5em;
}

.button5 {
  font-weight: 700;
  background-color: white;
  color: black;
  text-decoration: none;
  padding: .8em 3em calc(.8em + 3px);

  border: 2px solid #008CBA;
  border-radius: 12px;
  transition: 0.2s;
} 

.button5:hover { 
    background-color: #008CBA;
    color: white;
}

.button5:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}

.eins-wrapper {
    position: fixed;
    left: 50px;
    bottom: 340px;
}
.eins {
    width: 20px;
    height: 20px;  
    padding: 5px;
    //float: left; 
    border: solid 1px black;  
    //left: -990px;
}

.eins.one{
   // position: relative;
    background: #9db9d1; 
    top: 118px;
}
  
.eins.three{
    //position: relative;
    background: #42aaff;  
    //top: 142px;
}
  
.eins.four{
   // position: relative;
    background: #000000; 
   // top: 154px;
}
.eins-group {
    display: flex;
    align-items: center;
    height: 2.1em;
}
.colinfo {	
    font-family: Cambria Math, serif;
	font-weight: bold;
    padding-left: 10px;
    text-align: left;
}


  
  