.title {
}
.container {
    position: relative;
    margin: 0 auto;
}

.container-elem {
    position: absolute;
} 

.badge {
    cursor: pointer;
    font-family: Yu Gothic, serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    //color: white;
  //  background-color:#7ca1c2;
    color: black;
    background-color:white;
    height: 80%;
    //width: 80%;
    //height: 100%;
    //width: 100%;
    //margin: 15px;
	border: 1px solid black;
    border-radius: 15px 15px 15px 15px;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;   
}

.badge.closed{
    background-color:#000000;
	color: white;
    cursor: default;
}

.badge:hover{
    border: 3px solid #008cba;
}

.badge.closed:hover{
    border:0px;
}

.bronned {
   // background-color:#42aaff;
	//border: 1px solid #42aaff;
	background-color:#008cba;
	border: 1px solid #008cba;
	color: white;
}

.movie {
    display: flex;
    justify-content: center;
    text-align: center;
	width: 60%
}

.info-wrapper {
   //position: relative;
   // float: right;
   	width:20%;
    right: -30px;
    bottom: -140px;
}
.info {
    position: absolute;
    background-color: white;
    border: solid 1px black;
    //float: right;
   // right: 135px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.suman {
    //position: relative;
    //float: right;
    font-family: Cambria Math, serif;
    font-weight: bold;
    font-size: large;
    //position: fixed;
    ///right: 80px;
    //bottom: 440px;
    text-align: center;
}


.main {
    margin: 0 auto;
    position: relative;
}
.fonted {
    font-family: Cambria Math, serif;
	font-size: large;
	font-weight: bold;
}
  
.gup {
    position: absolute;
    font-family: Yu Gothic, serif;
    font-weight: bold;
    left: -40px;
    color: black;
  //width: 1rem;
  //margin-left: -1.3em;
  //margin-top: -2.5em;
}

.button5 {
  font-weight: 700;
  background-color: white;
  color: black;
  text-decoration: none;
  padding: .8em 3em calc(.8em + 3px);
  border: 2px solid #008CBA;
  border-radius: 12px;
  transition: 0.2s;
  -webkit-touch-callout: none; 
  -webkit-user-select: none;   
  -khtml-user-select: none;    
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;  
} 

.button5:hover { 
    background-color: #008CBA;
    color: white;
}

.eins-wrapper {
    //position: relative;
    //float: left;
	width:20%;
    left: -130px;
    bottom: -160px;
}
.eins {
    width: 20px;
    height: 20px;  
    padding: 5px;
    //float: left; 
    border: solid 1px black;  
    //left: -990px;
}

.eins.one{
  // position: relative;
  //  background: #7ca1c2;
    background: white;  
    top: 118px;
}
  
.eins.three{
   // position: relative;
    background: #008cba;  
    top: 142px;
}
  
.eins.four{
   //position: relative;
    background: #000000; 
    top: 154px;
}
.eins-group {
    display: flex;
    align-items: center;
    height: 2.1em;
}
.colinfo {	
    font-family: Cambria Math, serif;
	font-weight: bold;
    padding-left: 10px;
    text-align: left;
}

.tempo {
    display: flex;
    justify-content: space-between;
    //height: 180px;
    width: 1350px;
    margin: 0 auto;
}
  
  