<div class="add-seat">
    <div class="add-seat-group"> 
        <label>Добавить</label>
        <p-selectButton [options]="sideOptions" [(ngModel)]="selectSideOption" ></p-selectButton>
     </div>
    <div class="add-seat-group"> 
       <label>Ряд</label>
       <p-inputNumber [(ngModel)]="row" [min]="1" [max]="maxRow"></p-inputNumber>
    </div>
    <div class="add-seat-group">
        <label>Количество мест</label>
        <p-inputNumber 
            [ngClass]="classStyle"
            [(ngModel)]="count" 
            [min]="0" 
            [max]="maxCount" 
            (onFocus)="onFocus()"
        ></p-inputNumber>
    </div>
    <div class="add-seat-group"> 
        <label>Тип места</label>
        <p-selectButton 
            [options]="seatTypeOption" 
            [(ngModel)]="selectSeatType" 
            (onChange)="changeSeatType()"
        ></p-selectButton>
     </div>
     <div [class]= "isShow ? 'add-seat-group' : 'add-seat-group-hidden'"> 
        <label>Количество мест у дивана</label>
        <p-inputNumber [(ngModel)]="countSeat" [min]="1"></p-inputNumber>
     </div>
    <div >
        <p-button (onClick)="createSeat()">Добавить</p-button>
    </div>
</div>
