
.elem {
    position: absolute;
    background-color: aqua; 
    overflow: hidden;
    z-index: 1;
}

.admin {
    &-container {
        width: 800px;
       // height: 800px;
        margin: 0 auto;
        padding-top: 50px;
       
    }

    &-hall {
       // width: 800px;
        //height: 800px;
        position: relative;
        margin: 0 auto;
       
        &-buttons {
            &-vertical {
                position: relative;
                left: -120px;
            }
            &-horizontal {
                display: flex;
                flex-direction: row;
            }
        }
    }

    &-form {
        &-group {
            display: flex;
            flex-direction: column;

            font-size: 20px;
        }
    }

    &-grid {
        display: flex;
        //flex-direction: column;
        &-row {
            display: flex;
        }
        &-elem{
            //border: 1px solid darkmagenta;
            background-color: aqua;
        }
    }
}