
.elem {
    position: absolute;
    background-color: aqua; 
    overflow: hidden;
    z-index: 1;
}

.admin {
    &-container {
        width: 800px;
       // height: 800px;
        margin: 0 auto;
        padding-top: 50px;
       
    }

    &-hall {
       // width: 800px;
        //height: 800px;
        position: relative;
        margin: 0 auto;
       
        &-buttons {
            &-vertical {
                position: relative;
                left: -140px;
            }
            &-horizontal {
                display: flex;
                flex-direction: row;
            }
            &-select {
                position: absolute;
                background-color: lightcoral;
            }
            &-show {
                position: relative;
                left: -50px;
                //width: 50px;
                &-show {
                    left: -170px;
                    z-index: 15;
                }
                display: flex;
                &-inner{
                    width: inherit;
                    background-color: lightgreen;
                    width: 50px;
                    
                    //overflow: hidden;
                    &-content {
                        //background-color: lightsalmon;
                        //width: 200px;
                        //height: 100px;
                        display: flex;
                        margin-left: 20px;
                        
                        &-elem {
                            width: 100px;
                            height: 100px;
                            margin-left: 25px;
                            background-color: lightsalmon;
                        }
                    }
                }
                
            }
        }
    }

    &-form {
        &-group {
            display: flex;
            flex-direction: column;

            font-size: 20px;
        }
    }

    &-grid {
        display: flex;
        //flex-direction: column;
        &-row {
            display: flex;
        }
        &-elem{
            //border: 1px solid darkmagenta;
            background-color: aqua;
        }
    }
}

/*::ng-deep .p-speeddial-button {
   font-size: 12px;
}*/