
<div class="admin-container" (mousemove)="mouseMove($event)" id="kek">
    <div class="admin-hall" #adminHall >
    
        <div [style]="style.hall">

            <div class="admin-hall-buttons-vertical">
                <div *ngFor="let h of hallHeightCount; index as i" [style.height]="buttonVerticalHeight.height">
                    <p-button icon="pi pi-table" (onClick)="addRow(i, 2)"></p-button>
                    <p-button icon="pi pi-plus" (onClick)="addRow(i)"></p-button>  
                    <p-button icon="pi pi-times" (onClick)="deleteRow(i)"></p-button>  
                </div>
            </div>
            <!-- <div *ngFor="let s of style.showButtonInner; index as i" 
                class="admin-hall-buttons-show"
                [style]="style.showButton"
                #showButtonsRef
                
            >
                 <div class="admin-hall-buttons-show-inner" [style]="style.showButtonInner">
                   
                </div>
                <p-button icon="pi pi-caret-right" [style]="s" (onClick)="showButtons(showButtonsRef)"></p-button>
                <div class="admin-hall-buttons-show-inner-content">
                    <p-button icon="pi pi-plus" (onClick)="addRow(i)"></p-button>
                    <p-button icon="pi pi-times" (onClick)="deleteRow(i)"></p-button> 
                    
                </div>
            </div> -->
            
            <div *ngFor="let elem of selectRowButton"
                class="admin-hall-buttons-select"
                [style] = "elem.style"
            >
                <p-button icon="pi pi-chevron-right" 
                    (onClick)="selectRow(elem.row)"
                >
                    {{elem.row}}
                </p-button>
            </div>
            
            <div *ngFor="let e of allElements; let i = index"
                class="elem dropable"
                [style]="e"
            >
                <div class="elem-inner" [style]="style.innerElem"></div>
            </div>
        </div>
        
        <!--<div class="admin-hall-buttons-horizontal">
            <div *ngFor="let elem of hallWidthCount; let i = index" [style]="buttonContainerStyle">
                <p-button icon="pi pi-plus" (onClick)="addColumn(i)"></p-button>
                <p-button icon="pi pi-times" (onClick)="deleteColumn(i)"></p-button>
            </div>
        </div>-->
        
        <app-seat *ngFor="let elem of data; let i = index;"
            [seat]="elem.seat" 
            [scale]="scale" 
            [width]="seatWidth"
            (mousedown)="mouseDown($event, i)"
            (mouseup)="mouseUp($event, i)"
            draggable="true"
            (dragstart)="dragStart()"
            (setElem)="setElem($event, i)"
        ></app-seat>
    </div>

    <div>
    </div>
    <div class="admin-form">
        <div class="admin-form-group">
            <label for="hallWidth">Ширина зала</label>
            <p-inputNumber 
                [(ngModel)]="hallHeight"
                inputId="hallWidth" 
                [useGrouping]="false"
                [min]="1"
            ></p-inputNumber>
        </div>
    
        <div class="admin-form-group">
            <label for="hallWidth">Длина зала</label>
            <p-inputNumber 
                    [(ngModel)]="hallHeight" 
                    inputId="hallHeight" 
                    [useGrouping]="false"
                    [min]="1"
            ></p-inputNumber>
        </div>
    
        <div class="admin-form-group">
            <label for="hallScale">Масштаб клетки</label>
            <p-inputNumber 
                [(ngModel)]="hallScale" 
                inputId="hallScale" 
                [useGrouping]="false"
                [min]="1"
            ></p-inputNumber>
                
        </div>

        <div class="admin-form-group">
            <label for="seatWidth">Ширина сиденья</label>
            <p-inputNumber 
                [(ngModel)]="formSeatWidth" 
                inputId="seatWidth" 
                [useGrouping]="false"
                [min]="1"
            ></p-inputNumber>
                
        </div>

        <p-button label="Применить" (onClick)="updateState()"></p-button>
    </div>
    
</div> 
