
.seat {
    position: absolute;
    //background-color: maroon;
    //border: 1px solid darkmagenta;

    &-inner {
        //width: 80%;
        //height: 80%;
        border: 1px solid darkmagenta;
        margin: 0 auto;
        background-color: cornsilk;
    }
}

/*.icon {
    width: 10px;
    height: 10px;
    margin-right: 1rem;
}

.free {
    width: 10px;
    height: 10px;
    margin-right: 1rem;
    background-color: cornsilk;
}

.blocked {
    background-color: maroon;
}

.selected {
    background-color: forestgreen;
}

.bougth {
    background-color: dodgerblue;
}

.no-active {
    background-color: dimgrey;
}*/